/*Colors used: #e5e5e8; grey
#e9c84e; yellow
rgba(255, 201, 23, 1); geel
rgba (0, 48, 130, 1);
Font-style: Segoe UI*/
/*var color: (--nsyellow);*/

/*border-style: solid, 0.5em, #fff; */
/*background-color: rgba(255, 201, 23, 1); yellow*/
    /*background-color: hsla(0, 0%, 100%, .9); DOORZICHTIG*/
    /*box-shadow: 0 2px 0 0 rgba(7, 7, 33, .15);*/


    /*alle boxsizings eruit rbehalve bij reset*/
    /*alle comments eruit*/



/*:root{
    --nsyellow: rgba(255, 201, 23, 1);
    --nsblue: rgba(0, 48, 130, 1);
}*/
@font-face {
    font-family: "segoe UI";
    src: url('../assets/fonts/segoeui.ttf') format('truetype');
}

body,
body * {
    font-family: "segoe UI", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*HEADER*/
header {

        background-color: hsla(0, 0%, 100%, .9);
    width: 100%;
    box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
    position: fixed;
    top: 0.2rem;
    z-index: 99;
    height: 5rem;
}

header > img:last-of-type {
    margin-right: 1rem;
}

img[src="assets/image/logo.png"] {
/*    Het logo van de ns*/
width: 4.5em;
height: 4.5em;
margin-left: 0.5em;
}


header > h1 {
/*    NS Reisverhalen*/
font-size: 2.375rem;
line-height: 2.8125rem;
color: #003082;
font-weight: 400;
    margin-left: 1rem;
    content:"";
    display: none;
}


img[src="assets/image/zoeken_icon.png"] {
width: 2.1em;
height: 2em;
}


img[src="assets/image/login_icon.png"]{
/*Login icon in header
attribute selector*/
width: 2.1em;
height: 2em;

}

header {
    display: flex;
    align-items: center;
}
/*---------------------------------- nav-----------------------*/

nav {
    margin: 1em auto;
    display: flex;
    flex-wrap: nowrap;
}


nav ~ input, nav ~ img {
    height: 2em;
    vertical-align: middle;
}

nav ul {
/*    Overzicht en mijn lijst MOET NAAST ELKAAR*/
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    font-size: 1.4rem;
    margin: 0 auto;
}

nav ul li:first-of-type a:hover {
    border-bottom: .2rem solid rgba(255, 201, 23, .9);
    padding-bottom: 0.4rem;
}
nav ul li:nth-of-type(2) a:hover {
    border-bottom: .2rem solid rgba(255, 201, 23, .9);
    padding-bottom: 0.4rem;
}

/*Dit knippen naar andere pagina  mijn lijstje
*/
/*------------Hier begint de body-------------*/
body {
    text-align: center;
    background-color: #e5e5e8;
}

body, ul {

    color: #003082;
}

body, fieldset {
    border: none;
}

section {
    width: 100%;
    display: flex;
    align-items: flex-end;
}



/*Dit is het blokje met NS verhalen reist met je mee*/
/*Background image hier in*/
body > section:first-of-type {

display: flex;
/* flex-wrap: nowrap; */
/* padding: 3rem; */
padding-bottom: 5rem;
margin-bottom: 3rem;
/* margin-top: 1rem; */
background-image: url("../assets/background_image.jpg");
background-size: cover;
}

section > h1 {


display: flex;
flex-wrap: nowrap;
line-height: 2.8125rem;
color: white;
font-weight: 400;
margin-top: 7rem;
margin-bottom: 10rem;
margin-left: 20em;
justify-content: flex-end;
border-bottom: 2px solid;

}


/*Aside GEEL VLAK FILTEREN EN SORTEREN*/
aside {

background-color: rgba(0, 48, 130, 0.5);
 border-spacing: 0;
color: white;
padding: 1.5rem;
text-align: center;
vertical-align: middle;
box-shadow: 0 .125rem 0 0 rgba(7, 7, 33, .15);
margin-top: -12em;
margin-left: 3em;
    width: 56%;
    margin-left: 3rem;
}


label {
    vertical-align: middle;
    text-align: center;
cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

aside > h2 {/*titel FILTER OPTIES*/
margin-top: 0;
margin-bottom: .625rem;
font-size: 2.375rem;
line-height: 2.8125rem;
color: white;
font-weight: 400;
text-align: center;
display: block;
position: relative;
border-spacing: 0;
vertical-align: middle;
}


.tijdkeuze{
    font-size: 1.6rem;
color: rgba(0, 48, 130, 1);
    font-weight: 200;
    align-content: center;
    margin: 0 auto;
}

.tijdkeuze , input[type="radio"] + label {
/*    padding-top: 3rem;*/
}



input[type="text"] {
vertical-align: middle;
    text-align: center;
    cursor: pointer;
/*    background-color: transparent;*/
    padding-left: 2.6875rem;
    padding-right: 1.9375rem;
    border-color: #FFF;
    border-style: solid;
    border-width: 0 0 0 .0625rem;
    color: #003082;
    text-overflow: ellipsis;
    height: 3em;
    justify-content: center;
}

input[type="radio"] {
display: none;
}

input[type="radio"]:checked + label {
    text-decoration-line: underline;
}

/*:checked + label for moet hetzelfde zijn als id
label staat erachter */
/*input:checked + label {

}*/

.minuten:hover {
    text-decoration-line: underline;
    vertical-align: middle;
    color: white;
    display: flex;
    }

.voorkeur {
    margin-top: 1rem;
    margin: 0 auto;
    text-align: inherit;
    display: none;
}

input#Preferences {
    margin-left: 3rem;
        margin: 0 auto;
    vertical-align: middle;
}

input[type="checkbox"] {
    background: #FFF;
    border: none;
    width: 1.50rem;
    height: 1.50rem;
    cursor: pointer;
    top: .125rem;
    border: .0625rem solid #b5b5bc;
    border-radius: .0625rem;
    vertical-align: middle;
    padding: 0.5rem;
    position: relative;
}


aside input[type="submit"],
button {

/*1 BUTTONS!!!!!--->Meer opties*/
min-width: 7.5rem;
font-weight: 400;
background-color: #0079d3;
color: #fff;
line-height: 1.5625rem;
font-size: 1rem;
border: none;
text-decoration: none;
transition: box-shadow .15s ease-in-out;
box-shadow: inset 0; -.125rem 0 #005ca0;
 height: 2.8125rem;
padding: .625rem 1.125rem;
justify-content: center;
 display: block;
white-space: nowrap;
vertical-align: middle;
    margin: 0 auto;
    margin-top: 1em;

}

div {
    height: 0;
    overflow: hidden;
    transition: .2s;

}

.show {
    height: 5em;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;

}


button:hover{
    box-shadow: inset 0 -3.125rem 0 #005ca0;
    cursor: pointer;
}


/*DIT IS DE ZOEKEN BUTTON*/
main > article a, input[type="submit"] {
    -webkit-appearance: none;
    font-weight: 400;
    background-color: #0079d3;
    color: #fff;
    line-height: 1.5625rem;
    font-size: 1rem;
    border: none;
    text-decoration: none;
    transition: box-shadow .15s ease-in-out;
    box-shadow: inset 0 -.125rem 0 #005ca0;
    padding: .625rem 1.125rem;
     display: block;
    white-space: nowrap;
    vertical-align: middle;
       
}



main > article a:hover, input[type="submit"]:hover {
    box-shadow: inset 0 -3.125rem 0 #005ca0;
    cursor: pointer;
}

/*DE HoVER SHOW FILER OPTIES OP BUTTON MEER OPTIES*/
/*

div {
    background-color: red;
    padding: 1rem;
    display:  none;
}


button:hover + div {
    display: inline;
}
*/

/*Toevoegen voor klikken? button.ex1:active, button.ex1:visited*/

/*targetselector  of checkbox hack
use javascript*/

/*--------------------------------------------*/


main * {
    display: inline-block;
    box-sizing: border-box;
}

main {
/*background-color: #e5e5e8; white*/
display: flex;
flex-wrap: wrap;
margin-top: 1em;
}



main > article {
    padding: 1rem;
    background-color: rgba
     background-color: hsla(0, 0%, 100%, .9);
    box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
    margin: 0.5rem;
    width: calc(50% - 1rem);
    display: flex;
    flex-direction: column;
}

main > article:first-of-type {

    background-image:url("../assets/jeroen_krabbe.jpg");
/*    background-repeat: no-repeat;*/
    background-size: cover;

}

main > article:nth-of-type(2) {

    background-image:url("../assets/discriminatie_desktop_verhaal.png");
    background-repeat: no-repeat;

}
main > article:nth-of-type(3) {
    background-image:url("../assets/Lijden_Dekstop_verhaal.png");
    background-repeat: no-repeat;

}

main > article:nth-of-type(4) {
    background-image:url("../assets/book_background_image.jpg");
    
}

main > article:nth-of-type(5) {
    background-image:url("../assets/book_background_image.jpg");
    background-repeat: no-repeat;
}

main > article:nth-of-type(6) {
    background-image:url("../assets/book_background_image.jpg");
    background-repeat: no-repeat;
}




section > h2 {
    font-size: 2.375rem;
    line-height: 2.8125rem;
    color: #003082;
    font-weight: 400;
    margin-top: 1.875rem;
    margin-bottom: -.3125rem;
}

article footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

article p {
    margin-bottom: 1rem;
}

article footer * {
    display: inline-block;
    height: inherit;
}

article footer img {
    width: 4rem;
}

article footer div {
    display: flex;
    justify-content: space-evenly;
}

article footer div,
article footer span {
    width: 33%;
}


article > p {
    text-align: left;
    color: black;
/*DIT IS DE BROODTEKST
*/

}
article h3 {
    text-align: center;
    margin: 2rem 0 1rem 0;
    color: black;
    font-size: 1.5rem;
    color: tan;
    font-weight: 300;
    letter-spacing: normal;
    text-decoration: underline;
}

article {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

article::before {
    content: "";
    position: absolute;
    top: 1rem;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, .8) 37%, rgba(255, 255, 255, .8) 100%);
}

article > * {
    z-index: 2;
    width: 100%;
}

img[src="assets/image/download_icon.png"] {
    width: 2.5rem;
    height: 2.5rem;
    /*align-items: flex-end;
    margin-left: 8rem;
    margin-right: 1rem;
*/


}

img[src="assets/image/opslaan_icon.png"]{

width: 2em;
height: 2em;

}


/*---------------Media queries------*/


@media screen and (max-width: 60rem) {
    header h1 {
        display: none;
    }
    nav ul li a {
        font-size: 1.5rem;
    }
    footer a {font-size: 1.5rem;}
}


/*-----------SECTION MET ACHTERGROND elk formaat onder iphone 7----------*/




@media screen and (max-width: 62em) {
    .show {

    height: 5em;
    display: flex;
/*    flex-direction: row;*/
    flex-wrap: wrap;
    margin-top: 1rem;
    }
}

@media screen and (min-width: 80em) { /*is de mazimale grootte 30 em dan moet het 1 column zijn*/
    main > article {
        width: calc(33.3333% - 1rem);
        margin: 0.5rem;}
}


@media screen and (max-width: 60em) {
    main {
        flex-direction: column;
    }
    main > article {
        width: 100%;
        margin: 1rem 0;
    }

}


/*
@media screen and (min-width: 62em)
    .tijdkeuze {display: flex;
        flex-direction: column;}

    .minuten {display: flex;
        flex-direction: column;}
*/
/*20 em*/
@media screen and (max-width: 42em) {

    header {
    justify-content: space-evenly;
    background-color: hsla(0, 0%, 100%, .9);
    width: 100%;
    box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
    position: fixed;
    top: -1rem;
    left: 0;
    z-index: 99;
    margin-bottom: -3rem;
    height: 3.7em;
    }

    header > img [src="assets/image/logo.png"] {
width: 3.5em;
height: 3.5em;
padding: 0.2em;
    }

    header > input[type="text"] {
        display: none;
    }

    nav ul li a {
text-decoration: none;
color: inherit;
padding: 0.5em;
font-size: 1.5;
}

    body > section:first-of-type {
        display: none;
    }

aside {
    margin: 0 auto;
    margin-top: 6.5rem;
    margin-bottom: -0.7rem;
    width: 90%;
    }

  /*Uitegelicht subkop */
section > h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    }

img[src="assets/image/download_icon.png"] {
    width: 1.5rem;
    height: 1.5rem;
    /*align-items: flex-end;
    margin-left: 8rem;
    margin-right: 1rem;
*/
}

img[src="assets/image/opslaan_icon.png"] {

width: 1.5rem;
height: 1.5rem;
    }

main > article a, input[type="submit"]:hover {
-webkit-appearance: none;
font-weight: 400;
background-color: #0079d3;
color: #fff;
line-height: 1.5625rem;
font-size: 1rem;
border: none;
text-decoration: none;
transition: box-shadow .15s ease-in-out;
box-shadow: inset 0 -.125rem 0 #005ca0;
padding: 0.5rem 0.5rem;
white-space: nowrap;
vertical-align: middle;
display: block;
    }
}


/*KLEIN TELEFOON */
@media screen and (max-width: 35.5rem) {

header {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
    position: fixed;
     top: 0.1em;
     left: 0;
    z-index: 99;
     margin-bottom: -3rem;
    margin-top: 0.1rem;
    height: 3.4rem;
    }

     nav ul li a {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
text-decoration: none;
color: inherit;
padding: 0.5em;
font-size: 1.4rem;
}

 header > img[src="assets/image/logo.png"] {
width: 2.5em;
height: 2.5em;
margin-left: 0.5em;
    }

.show {
    height: 13rem;
    margin-top: 1rem;
    width: 90%;
    display: block;
    line-height: 2rem;
    text-align: center;

    }
}




/*---------------------------------Dit is de code voor de login pagina------*/
legend {

    font-size: 5em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 10em;

}



/*body, section {
    background-color: #e5e5e8;
}

body, article {
    background-color: #e5e5e8;
}*/
/*
main>ul li {
    font-weight: 500;*/



main + footer {
    background-color: hsla(0, 0%, 100%, .9);
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin-top: 1rem;
}

footer a {
    font-size: 1.5rem;
    color: inherit;
    text-decoration: none;
    padding: 0.2rem;

}

footer a:hover {

    border-bottom: .2rem solid rgba(255, 201, 23, .9);
    padding-bottom: 0.4rem;
}
